body {
    background-image: url("../images/pexels-photo-255379.jpeg");
    
}
div {
    background-color: white;
    border: solid 2px antiquewhite;
    padding: 5px;
    margin: 15px auto;
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    text-align: center;
}
h1, h3, span{
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 30pt;
}
ol{
    list-style: decimal inside;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    line-height: 20px;
}
ul {
    list-style: disc inside;
    text-indent: 20px;
}
div.header, div.gems{
    background-color: #e0e0eb;
    margin: 0 auto;
    text-align: center;
}
div.header, div.instructions{
    width: 50%;
    margin: 25px auto;
}
/* Classes */
.row {
    width: 240px;
    margin: 25px auto;
}
.numberToMatch, .winsAndLosses{
    float: left;
    width: 15%;
    height: 60px;
    text-align: center;
    border: 0;
}
.userTotal{
    width: 15%;
    height: 60px;
}
.gems{
    clear: both;
}
.gemImage{
    height: 60px;
    margin: 10px;
}
#blue{
    color: #3092c7;
}
#green{
    color: #00aa59;
}
#red{
    color: #ec4b5f;
}
#yellow{
    color: #ffc225;
}